<%- include ("header.ejs") %>
<h2 class="p-2 border bg-dark text-white">
    Admin vagas:
    <a href="/admin/vagas/nova">Nova Vaga</a>
</h2>

<div>
    <ul>
        <% vagas.forEach(vaga => { %>
            <li class="mb-2">
                <%- vaga.titulo %> |
                <a class="btn btn-danger pt-0 pb-0" href="/admin/vagas/delete/<%- vaga.id %>">
                  Excluir  </a>
                <a class="btn btn-warning pt-0 pb-0" href="/admin/vagas/editar/<%- vaga.id %>">
                    Editar  </a>
            </li>
        <% }) %>
    </ul>
</div>
<%- include ("footer.ejs") %>
